<div class="container">
  <form role="form" action="/">
    <h2 class="">Finding Marvel Characters</h2>
    <input type="text" class="form-control" placeholder="Ex: Marvel" name="keywords">
    <br>
    <button class="btn btn-primary btn-block" type="submit">Search</button>
    <br>
  </form>
  <section class="series">
  <%# <div data-controller="hello">
    <div data-hello-target="output"> %>
      <% if @characters.present? %>
        <% @characters.each do |character| %>
          <div class="col-md-12">
            <h1><%= character.name %></h1>
            <p><%= character.description %></p>
             <img src="<%= character.thumbnail %>">
          </div>
        <% end %>
      <% end %>
    <%# </div>
   </div> %>
  </section>
</div>
